body{
    margin: 0;
    background-color: purple;
    background-attachment: fixed;
}



input {
    background: #E3E3E3 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 49px;
    padding: 1em;
    margin: 1em;
    width: 50%;
}


button.projects{
    background: #DF8E26 0% 0% no-repeat padding-box;
    opacity: 0.5;
    border: 5px solid #000000;
    border-radius: 42px;

    font: normal normal normal 25px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    width: 10%;
    height: 70%;
    border: 1px solid black;
    margin: 1em;
    line-height: 0em;
    
}

button.projects:hover{
    opacity: 1.0;
}

button.current_projects{
    background: #DF8E26 0% 0% no-repeat padding-box;
    opacity: 0.5;
    border: 5px solid #000000;
    border-radius: 42px;

    font: normal normal normal 25px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    width: 10%;
    height: 70%;
    border: 1px solid black;
    margin: 1em;
    line-height: 0em;
    opacity: 1.0;
}


nav{
    
    
    background: #9200B5;
    position: fixed;
    height: 100px;
    border: 0px solid #707070;

    display: flex;
    flex-direction: row;
    justify-content: start;
}


header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:15px;
}
header >img {
    width: 8%;
    height: 170%;
    margin: 1em;
    align-items: flex-start;
    top: 200px;
    
}

header > form >input{
    text-align: center;
}
main{
    grid-gap: 5em;
    padding: 5em;
    display:flex;
    flex-direction: row;
}

.contacts{
    
    /* overflow: auto; */
    grid-gap: 5em;
    padding: 5em;
    /* overflow-x: hidden;
    overflow-y: auto;  */
    overflow:auto;
    /* position: fixed; */
    
}
.contacts>div{
    /* background: transparent linear-gradient(180deg, #FFFFFF 0%, #FFD506 100%) 0% 0% no-repeat padding-box; */
    background: rgb(223, 142, 38, 0.5) ;
    border: 3px solid rgb(0, 0,0);
    /* border-radius: 1em 1em 0 0; */
    height: 600px;
    width: 400px;

    display: flex;
    flex-direction: column;
    text-align:justify;
    overflow-x: hidden;
    overflow-y:auto;
    
}


.contacts>div>div{
    
    margin: 0.1em;
    grid-gap: 2em;
    padding: 1em;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
   
    

}

.all_contacts{
    
    grid-gap: 5em;
    padding: 5em;
    /* position: fixed; */

    /* overflow: auto; */
}

.all_contacts>div{
    background: rgb(223, 142, 38, 0.5) ;
    border: 3px solid rgb(0, 0,0);
    /* border-radius: 1em 1em 0 0; */
    height: 600px;
    width: 1000px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* overflow-x: hidden;
    overflow-y: auto; */
    overflow: auto;
    text-align:justify;
}

.all_contacts>div>div{
    color: black;
    margin: 1em;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

