body{
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #FFBE0D 0%, #850278 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.logo{
    width: 50%;
    text-align: center;

}

.login-container {
    width: 50%;

}

form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vh;

    background: #8A8A8A94 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 33px; 
}

button{
    background: #04F9B7 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 19px;

    width: 50%;
    border: none;
    color: white;
    margin: 1em;
    line-height: 2.5em;


}

input {
    background: #E3E3E3 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 49px;
    padding: 1em;
    margin: 1em;
    width: 50%;
}

@media only screen and (max-device-width: 420px) {
    .container{
        flex-direction: column;
    }
    *{
        font-size: 36px;
    }
    .login-container, .logo {
        width: 100%;
    }
    form {
        
        margin: auto;
    }
    img {
        height: 7em;
        margin: 2em;
    }
}

.base-container{
    
    
    background: transparent linear-gradient(180deg, #FFBE0D 0%, #850278 100%) 0% 0% no-repeat padding-box;
    
    height: 100vh;
    background-position: fixed;
    

    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: unset;  */


}

button.projects{
    background: #DF8E26 0% 0% no-repeat padding-box;
    border: 5px solid #000000;
    border-radius: 42px;

    font: normal normal normal 30px/53px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    width: 20%;
    height: 50%;
    border: none;
    margin: 1em;
    line-height: 2.5em;
    
}


nav{
    
    height: 200px;
    background: #9200B5 0% 0% no-repeat padding-box;
    border: 0px solid #707070;

    display: flex;
    flex-direction: row;
    justify-content: start;
}


header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:15px;
}
header >img {
    width: 10%;
    margin: 1em;
    align-items: flex-start;
    top: 100px;
}

header > form >input{
    text-align: center;
}


    
/* main{
    width: 100vw;
    height: 10%;
} */