
<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/contacts.css">
    <script src="https://kit.fontawesome.com/723297a893.js" crossorigin="anonymous"></script>
    <title>CONTACTS</title>

</head>
<body>
    <div class="base-container">
        <nav>
            <header>
               
                    <img src="../img/logo1.png">
                    <button class="projects">HOME</button>
                    <button class="current_projects">CONTACTS</button>
                    <button class="projects">DISCOVER</button>
                    <button class="projects">ACCOUNT</button>
                    <form>
                        <input placeholder="search">
                    </form>
                

            </header>
        </nav>
        <main>
           
            <section class="contacts">
                <div  id="contacts_bar">
                        <div class="person-section">
                            <img src="../img/uploads/avatar.jpg" width="50" height="50">
                            SIEMA
                        </div>
                        <div class="person-section">
                            <img src="../img/uploads/avatar.jpg" width="50" height="50">
                            SIEMA
                        </div>
                        
                </div>
            </section>
            <section class="all_contacts">
                <div  id="all_contacts">
                    <div class="social-section">
                        <i class="fas fa-heart">60</i>
                        <i class="fas fa-minus-square">11</i>
                        </div>
                </div>
            </section>
            
        </main>
        
        
       
    </div>
</body>