
main{
    grid-gap: 5em;
    padding: 5em;
    display:flex;
    flex-direction: row;
}

.details{
    
    /* overflow: auto; */
    grid-gap: 5em;
    padding: 5em;
    /* overflow-x: hidden;
    overflow-y: auto;  */
    overflow:auto;
    /* position: fixed; */
    
}
.details>div{
    /* background: transparent linear-gradient(180deg, #FFFFFF 0%, #FFD506 100%) 0% 0% no-repeat padding-box; */
    background: rgb(146, 10, 114, 0.5) ;
    border: 3px solid rgb(0, 0,0);
    border-radius: 1em 1em;
    /* border-radius: 1em 1em 0 0; */
    height: 600px;
    width: 400px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow-x: hidden;
    overflow-y:auto;
    justify-content: flex-start;
    align-items: center;
    
    
    
}
.details>div>img{
    margin-top: 2em;
    text-align: center;
    object-fit: cover;
    border-radius: 1em 1em;
   
}
.aboutme{
    
    grid-gap: 5em;
    padding: 5em;
    /* position: fixed; */

    /* overflow: auto; */
}

.aboutme>div{
    background: rgb(146, 10, 114, 0.5) ;
    border: 2px solid rgb(0, 0,0);
    border-radius: 1em 1em;
    /* border-radius: 1em 1em 0 0; */
    height: 300px;
    width: 700px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* overflow-x: hidden;
    overflow-y: auto; */
    overflow: auto;
    text-align:justify;
}



@media only screen and (max-device-width: 420px) {
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    
    .details{
    
        /* overflow: auto; */
        grid-gap: 0em;
        padding: 2em;
        /* overflow-x: hidden;
        overflow-y: auto;  */
        overflow:auto;
        /* position: fixed; */
        
    }    
    
    .details>div{
        /* background: transparent linear-gradient(180deg, #FFFFFF 0%, #FFD506 100%) 0% 0% no-repeat padding-box; */
       
        /* border-radius: 1em 1em 0 0; */
        height: 900px;
        width: 600px;
        font-size: 25px;
        
        
        
        
    }
    .details>div>img{
        border: 2px solid black;
       
    }
    .aboutme{
        margin: -400px;
        padding: 5em;
        /* position: fixed; */
    
        /* overflow: auto; */
    }


    

    /* .projects>div{
        border: 3px solid black;
        height: 600px;
        width: 500px;
        display: flex;
        flex-direction: column;
        object-fit: contain;
        font-size: 25px;
        padding: 0;
        grid-gap:0;
        margin: 0em;
        justify-content: unset;
        align-items: center;
        text-align: center;
        
        
    }
    
    .projects>div>img{
        width: 500px;
        height: 350px;
        margin-top: 0px;
    }
    .projects>div>div{
        padding: 0px;
        flex-direction: column;
        text-align: left;
        margin: -90px;
        justify-content: unset;
        overflow: hidden;

        
    } */
  
    

}