
main{
    grid-gap: 7em;
    padding: 6em;
    display:flex;
    flex-direction: column;
    align-items: center;

}
button{
    margin-top: 3em;
    width: 250px;
    height: 50px;
    background: rgb(223, 142, 38,0.5);
    border: 2px solid black;
    text-decoration-color: black;
}

.projects_display{
    margin-top: -5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5em;
    padding: 8em;
    overflow: auto;
}

.projects_display>div>img {
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.projects_display>div>div{

    color: black;
    margin: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

.projects_display>div{
    /* background: transparent linear-gradient(180deg, #FFFFFF 0%, #FFD506 100%) 0% 0% no-repeat padding-box; */
    background: #DF8E26;

    border: 1px solid rgb(0, 0, 0);
    border-radius: 1em 1em 0 0;
    height: 400px;
    width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.projects_display>div{
    border-radius: 1em 1em;
}

.projects_display{
    overflow-x: hidden;
    overflow-y:auto;
}


@media only screen and (max-device-width: 420px) {
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    

  
    

}