section>form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5em;
    padding: 8em;
    overflow: auto;
}

.projects>form>div>img {
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.projects>form>div>div{
    
    color: white;
    margin: 1em;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

.projects>form>div{
    /* background: transparent linear-gradient(180deg, #FFFFFF 0%, #FFD506 100%) 0% 0% no-repeat padding-box; */
    /*background: #DF8E26;*/
    background:purple;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1em 1em;
    height: 400px;
    width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}


.projects>form{
    overflow-x: hidden;
    overflow-y:auto;
}

.projects>form>div>div>button{
    margin-top: 15px;
    background: black;

}

.projects>form>div:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

@media only screen and (max-device-width: 420px){ 
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .projects>div{
        border: 3px solid black;
        height: 600px;
        width: 500px;
        display: flex;
        flex-direction: column;
        object-fit: contain;
        font-size: 25px;
        padding: 0;
        grid-gap:0;
        margin: 0em;
        justify-content: unset;
        align-items: center;
        text-align: center;
        
        
    }
    
    .projects>div>img{
        width: 500px;
        height: 350px;
        margin-top: 0px;
    }
    .projects>div>div{
        padding: 0px;
        flex-direction: column;
        text-align: left;
        margin: -90px;
        justify-content: unset;
        overflow: hidden;

        
    }
    

    
    

}