body{
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #FFBE0D 0%, #850278 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.logo{
    width: 50%;
    text-align: center;

}

.login-container {
    width: 50%;

}

form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vh;

    background: #8A8A8A94 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 33px; 
}

button{
    background: #04F9B7 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 19px;

    width: 50%;
    border: none;
    color: white;
    margin: 1em;
    line-height: 2.5em;


}

input,textarea{
    background: #E3E3E3 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 49px;
    padding: 1em;
    margin: 1em;
    width: 50%;
    outline: none;
}

@media only screen and (max-device-width: 420px) {
    .container{
        flex-direction: column;
    }
    *{
        font-size: 36px;
    }
    .login-container, .logo {
        width: 100%;
    }
    .login{
        
        margin: auto;
    }
    .logo>img {
        height: 7em;
        margin: 2em;
    }
}

.base-container{

    height: 100vh;
    background-position: fixed;


}

button.projects{
    background: #DF8E26 0% 0% no-repeat padding-box;
    opacity: 0.5;
    border: 5px solid #000000;
    border-radius: 42px;

    font: normal normal normal 25px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    width: 10%;
    height: 70%;
    border: 1px solid black;
    margin: 1em;
    line-height: 0em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);


}
button.projects:hover{
    opacity: 1.0;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
button.current_projects{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background: #DF8E26 0% 0% no-repeat padding-box;
    opacity: 0.5;
    border: 5px solid #000000;
    border-radius: 42px;

    font: normal normal normal 25px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    width: 10%;
    height: 70%;
    border: 1px solid black;
    margin: 1em;
    line-height: 0em;
    opacity: 1.0;

}




nav{
    
    top:0;
    left:0;
    width: 100%;
    background: #9200B5;
    position: fixed;
    height: 100px;
    border: 0px solid #707070;

    display: flex;
    flex-direction: row;
    justify-content: start;
}


header {

    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;

}



header >img {
    width: 8%;
    height: 170%;
    margin: 1em;
    align-items: flex-start;
    top: 200px;
    
}

header > form >input{
    text-align: center;
     
}

body{
    background-color: rebeccapurple;
    background-attachment: fixed;
}

a{
    text-decoration: none;
    text-underline: none;
}

.no-valid{
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}
.projects>form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5em;
    padding: 8em;
    overflow: auto;
    overflow-x: hidden;
    overflow-y:auto;
}

.projects>form>div>img {
    object-fit: cover;
    border-radius: 1em 1em 0 0;

}

.projects>form>div>div{

    color: white;
    margin: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

.projects>form>div{
    background:purple;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1em 1em;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}



.projects>form>div>div>button{
    margin-top: 15px;
    background: black;

}

.projects>form>div:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);


}



@media only screen and (max-device-width: 420px) {
    nav{
        width: 100vw;
        height: 20vw;
        position: fixed;
    }
  

    header>img{
        visibility: hidden;
        margin: 0px;
        width: 0px;
        height: 0px;
    }

    
    button.projects{
        width: 20vw;
        height: 60%;
        align-items: center;
        text-align: center;
        text-overflow: ellipsis;
        font-size: 25px;
        text-align: center;
    }

    button.current_projects{
        width: 20vw;
        height: 60%;
        align-items: center;
        text-align: center;
        text-overflow: ellipsis;
        font-size: 25px;
        text-align: center;
    }

    .projects>form{
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    }

    .projects>form>div{
        width: 70vw;
        height: 70vw;
        align-items: center;
        justify-content: center;
    }

    .projects>form>div>img{
        width: 70vw;
        height: 50%;
        margin-top: auto;


    }

    .projects>form>div>div>button{
        width:40vw;
        height: 10vw;
    }





}